body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

.header{
    background-color: #1F2937;
    padding: 16px;
}

.headerContainer{
    margin: auto;
    width: 85%;
    max-width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    font-weight: bold;
}

.header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.heroSubtext{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.introBox{
    height: 480px;
    display: flex;

}

.introBox img{
    object-fit: cover;
    width: 525px;
    aspect-ratio: 8 / 3.7;
    object-position: bottom;
}

.introText{
    width: 50%;
}

.heroMain{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.button{
    background-color: #3882F6;
    border-style: none;
    border-radius: 8px;
    padding: 4px 26px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 20px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

.secTwo{
    height: 480px;
    text-align: center;
}

.imgHeader{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.imgsContainer{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 35px;
}
.imgContainer{
    width: 210px;
}
.smallimg{
    border-style: solid;
    border-color: #3882F6;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}